@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  scroll-behavior: smooth;
}

.title {
  margin: 20px;
  font-weight: 600;
  font-size: 35px;
  color: #a3a3a3;
}

.carde {
  width: 150px;
  height: 150px;

  background: #fff;
  display: inline-block;
  margin: 20px;
  text-align: center;
  transition: 0.8s;

  transition: 0.8s;
}

.header .carde .stats {
  position: relative;
  margin: px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  font-size: 35px;
  font-weight: 600;
}
.factor {
  color: #a3a3a3;
  margin: 10px;
}
h2 {
  font-weight: 700;
  font-size: 40px;
}
.flags {
  max-width: 930px;
  background: #fff;
  display: block;
  margin: 20px;
  text-align: center;

  padding-bottom: 20px;
}

.flags img {
  margin: 20px;
}

.flag {
  display: inline-block;
  cursor: pointer;
}

.flag div {
  display: block;
  font-size: 10px;
  width: 92px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  box-shadow: 2px 3px 5px 0px black;
}

@media screen and (max-width: 1020px) {
  .card {
    width: 100%;
    height: 200px;
    background: #fff;
    display: inline-block;
    margin: 20px;
    text-align: center;
    transition: 0.8s;

    transition: 0.8s;
  }
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-carde {
  margin: 0 60px;
}

.details p {
  color: #181717;
  margin: 0 10px;
}
.details span {
  color: #000000;
  display: flex;
}
.img {
  margin: 50px 200px;
  display: flex;
  background-color: rgba(255, 235, 205, 0.445);
  width: 500px;
}
.fa-user-friends {
  color: rgba(58, 58, 248, 0.87);
}

.fa-check-circle {
  color: rgb(3, 172, 3);
}

.fa-bed {
  color: rgb(248, 184, 64);
}

.fa-heart-broken {
  color: rgba(245, 84, 84, 0.822);
}

#total {
  border-bottom: 5px solid #d63031;
}

#recover {
  border-bottom: 5px solid #00b894;
}

#sick {
  border-bottom: 5px solid #0984e3;
}

#dead {
  border-bottom: 5px solid red;
}
