@import url("https://fonts.googleapis.com/css2?family=Akronim&family=Lobster&display=swap");

.table {
  margin-top: 100px;
  overflow: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 400px;
  width: 350px;
}
h1 {
  font-family: "Akronim", cursive;
}
.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
